/*
|--------------------------------------------------------------------------
| Primary Color Assignment
|--------------------------------------------------------------------------
*/
$grey-light : #F4F5F7;
$grey-mid   : #EAECF0;

/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
*/
$f-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$f-roboto   : 'Roboto', Helvetica, Arial, sans-serif;
$f-system   : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;